@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



.display-flex {
    display: flex;
}

.primary-text {
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
}

.navbar,
.banner {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* banner related styles */
.banner-content {

    margin: 0 auto;

    margin-top: 280px;
    margin: 0px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;

}

.bg-all {
    max-width: 1140px;
    margin: 0 auto;
    background: rgb(245, 248, 255);
}

.tite {
    color: rgb(233, 90, 8);
}

/* main part */

.mainn {
    text-align: center;
}

.discription {
    font-weight: 400;
    text-align: center;
    word-wrap: normal;
}

.headline {
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.price {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.btn {
    align-items: center;
    padding: 26px 50px 26px 50px;
    background-color: rgb(233, 90, 8);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;

}

.img-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.written-content {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.between-gap {
    bottom: 50px;
}