@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}


.display-flex {
    display: flex;
}

.primary-text {
    color: rgb(137, 135, 161);
    font-size: 1rem;
    font-weight: 400;
}

.second-text {
    color: rgb(37, 36, 50);
    font-weight: 700;
    font-size: 1rem;

}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
}

.navbar,
.banner {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* banner related styles */
.banner-content {

    margin: 0 auto;

    margin-top: 280px;
    margin: 0px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;

}

.bg-all {
    max-width: 1140px;
    margin: 0 auto;
    background: rgb(245, 248, 255);
}

.tite {
    color: rgb(233, 90, 8);
}

/* main part */

.mainn {
    text-align: center;
}

.discription {
    font-weight: 400;
    text-align: center;
    word-wrap: normal;
}

.headline {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(17, 17, 17);
}

.price {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.btn {
    align-items: center;
    padding: 26px 50px 26px 50px;
    background-color: rgb(233, 90, 8);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    text-align: left;

    width: 270px;
    height: 50px;


}

.img-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.written-content {
    align-items: center;
    justify-content: center;
    text-align: center;

}

.between-gap {
    bottom: 50px;
}

.love {
    margin-top: 200px;
    display: flex;
}

.content-love {
    width: 540px;
    height: 521px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20;

    margin-left: 60px;




}

.disp {
    color: rgba(0, 0, 0, 0.5);

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.cha {

    max-width: 286px;
    margin-top: -730px;
    margin-left: 345px;
}

.imgg {
    width: 286px;
}





.latest-deal {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 500px;
}

.latest-deal-title {
    font-size: 3.125rem;
    font-weight: 700px;
    margin-bottom: 16px;
}

.latest {
    color: #E95A08;
}

.latest-deal-description {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}




.discount-section {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
    filter: brightness(90%)
}

.discount {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

.bloom-ana {
    width: 50%;

}

.bloom {
    background-image: url('../assets/deal-bloom.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 28px;
}

.ana {
    background-image: url('../assets/deal-ana.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.zabo {
    background-image: url('../assets/deal-zabo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 433px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bloom-ana-title {
    font-size: 1.25rem;
    font-weight: 700px;
    color: #FFFFFF;
}

.zabo-title {
    font-size: 2.5rem;
    font-weight: 700px;
    color: #FFFFFF;
}

.shop-now-bloom-ana {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500px;
}

.shop-now {
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 600px;
}




.input-field {
    max-width: 1440px;
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.input-field-title {
    font-size: 3.125rem;
    color: #FFFFFF;

}

.input-email {
    width: 644px;
    height: 47px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}

.subscribe {
    width: 186px;
    height: 50px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
}




.footer-items {
    max-width: 1120px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.footer-list-link ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.footer-list {
    list-style: none;
    gap: 32px;
}

.footer-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.footer-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}

.footer-icons {
    margin-left: 24px;
}

.sai {
    max-width: 1440px;
}


@media screen and (max-width: 576px) {
    .navbar {
        margin: 0 16px;
    }

    .ul-list {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-left {
        margin: 0 16px;
    }

    .banner-img {
        width: 100%;
    }

    .card {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    .flower-and-plant-lover {
        flex-direction: column;
    }

    .trusted-badge {
        display: none;
    }

    .discount {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .input-field img {
        width: 100%;
    }

    .input-field .subscribe {
        width: 100%;
    }

    .footer-items {
        flex-direction: column;
    }

    .footer-list-link ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}